*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0px 50px;
    border: 1px solid;
    position: sticky;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

    ul{
        display: flex;

        li{
            padding: 0px 15px;
        }
    }
}

section{
    #nav-title{
        padding: 15px 40px;
        font-size: 28px;
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
}